In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [2]:
import statsmodels.api as smi
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import KFold

In [31]:
def create_single_game_dimension(og_df):
    """Create a DataFrame where each row is a single game, and each country's viewership is a column
    Will do this by adding new column for a Game_ID and taking transpose at the end"""
    all_countries = ["C-%s" % e for e in og_df["Country"].unique().tolist()]
    df_index = ["Season", "Home_Team", "Away_Team", "Game_Date"] + all_countries
    new_df = pd.DataFrame(index=df_index)
    for game_id in og_df["Game_ID"].unique():
        # Define the new series using the same index as the dataframe it will be concatenated to
        game_series = pd.Series(index=df_index)
        # Isolate the rows relevant for the current game
        game_rows = og_df.loc[og_df["Game_ID"] == game_id, :]

        # Since much of the data is repeated, get important information from the first row of the game
        game_series.loc[["Season", "Home_Team", "Away_Team", "Game_Date"]] = game_rows.iloc[0, :].loc[["Season", "Home_Team", "Away_Team", "Game_Date"]]

        # Add each country's viewership to the new series in the appropriate index location
        # NOTE: There is probably a more efficient way to do this
        for i,row in game_rows.iterrows():
            game_series.loc["C-%s" % row["Country"]] = row["Rounded Viewers"]

        # Add the game's data as a new column in the full df
        new_df[game_id] = game_series

    # Currently the columns are game_ids and the rows are the information/data,
    # swap these to be more compatible with supervised learning methods using transpose
    new_df = new_df.T

    # Add the total viewers by summing over the country columns
    country_cols = [e for e in new_df.columns if "C-" in e]
    new_df["TotalViewers"] = new_df.loc[:, country_cols].sum(axis=1)
    return new_df

In [32]:
def create_team_vector(single_game_df):
    """Function for creating a two-hot vector with bits representing the presence of specific teams in the game"""
    # Converting teams to integer encoding
    team_encoder = LabelEncoder()
    team_encoder.fit(np.ravel([single_game_df["Home_Team"], single_game_df["Away_Team"]]))
    single_game_df["Home_Team_Code"] = team_encoder.transform(single_game_df["Home_Team"])
    single_game_df["Away_Team_Code"] = team_encoder.transform(single_game_df["Away_Team"])

    vector_encoder = OneHotEncoder(sparse=False)
    away_vectors = vector_encoder.fit_transform(single_game_df["Away_Team_Code"].values.reshape(-1, 1))
    home_vectors = vector_encoder.fit_transform(single_game_df["Home_Team_Code"].values.reshape(-1, 1))
    combined_vector = away_vectors + home_vectors
    combined_df = pd.DataFrame(data=combined_vector, index=single_game_df.index,
                               columns=["T-%s" % e for e in team_encoder.classes_])

    merged_df = pd.concat([single_game_df, combined_df], axis=1)
    return merged_df

In [6]:
# Original training set given by NBA
training_filename = "training_set.csv"
original_df = pd.read_csv(training_filename)
# full_df = create_single_game_dimension(og_df=original_df)
# # # there are some N/A values for numeric dtypes - we replace them with n/a
# full_df = full_df.fillna(0)
# # # Intermediate saving since create_single_game_df takes a few seconds to run
# full_df.to_csv("training_set_games.csv", index=True)

In [34]:
team_df = create_team_vector(full_df)

# Adding day of week and indicator if that day is a weeknight (or not)
team_df["DayOfWeek"] = pd.to_datetime(team_df["Game_Date"]).dt
team_df["Weeknight"] = team_df["DayOfWeek"].apply(lambda cell: 1 if cell in ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday"] else 0)

# Outputting the revised data frame in a 'per game' format
team_df.to_csv("training_set_games.csv", index=True, index_label="Game_ID")

In [35]:
# Read in file created from 'single_game_reformatting.py' script
input_filename = "training_set_games.csv"
df = pd.read_csv(input_filename)

# Get the columns to be used as inputs (Team indicator columns)
team_cols = [e for e in df.columns if "T-" in e]
input_cols = team_cols + ["Weeknight"]

# Get data in supervised learning format f:X -> y
X = df.loc[:, input_cols]
y = df.loc[:, "TotalViewers"]

# Initialize dictionary for tracking accuracy measures, where Mean- is using the training set mean for predictions
accuracy_dict = {"MSE":[],
                 "Mean-MSE":[],
                 "MAPE":[],
                 "Mean-MAPE":[]}

In [36]:
# Perform 10-Fold Cross-Validation
kfold = KFold(n_splits=100, shuffle=True)
for train_indices, test_indices in kfold.split(X):
    # Get the training data and fit a LinearRegression to the training data
    X_train, y_train = X.loc[train_indices, :], y.loc[train_indices]
    fold_model = LinearRegression()
    fold_model.fit(X=X_train, y=y_train)

    # Make predictions on the test data from the trained model
    X_test, y_test = X.loc[test_indices, :], y.loc[test_indices]
    predictions = fold_model.predict(X=X_test)

    # Calculate the Mean Square Error of the current test fold predictions
    error = predictions - y_test
    mean_error = y_train.mean() - y_test

    fold_mse = np.mean(error**2)
    accuracy_dict["MSE"].append(fold_mse)

    # Calculate the Sum of Squared Error of the current test fold predictions
    fold_sse = np.mean(mean_error**2)
    accuracy_dict["Mean-MSE"].append(fold_sse)

    # Calculate the Mean Absolute Percentage Error (MAPE) used by NBA to grade submissions
    fold_mape = np.mean(np.abs(error)/y_test)
    accuracy_dict["MAPE"].append(fold_mape)

    fold_mean_mape = np.mean(np.abs(mean_error)/y_test)
    accuracy_dict["Mean-MAPE"].append(fold_mean_mape)
# Converting the accuracy dictionary to a DataFrame
#   with columns as the accuracy measures and index as the fold number
results_df = pd.DataFrame.from_dict(accuracy_dict, orient='columns')
results_df["R2"] = results_df.apply(lambda row: 1.0 - row["MSE"]/row["Mean-MSE"], axis=1)
results_df["MAPE-R2"] = results_df.apply(lambda row: 1.0 - row["MAPE"]/row["Mean-MAPE"], axis=1)
print(results_df)
print(results_df.mean(axis=0).round(3))

# Using Statsmodels for output on full set to see if the coefficients make sense
# (they appear to, as CLE and GSW are highest, MEM and PHX are lowest)
#    Having weeknight games also appears to drop the amount of viewers
# The explanatory R-Squared is 0.603 with Adj R-Squared of 0.597,
#   the closeness of these to the CV-R2 indicates there is not much overfitting occurring here
Xc = smi.add_constant(X)
ols = smi.OLS(endog=y, exog=Xc)
results = ols.fit()
print(results.summary())

        MAPE           MSE  Mean-MAPE      Mean-MSE        R2   MAPE-R2
0   0.485971  5.382977e+07   0.637226  4.171100e+07 -0.290541  0.237364
1   0.525961  3.319694e+07   0.934864  7.978836e+07  0.583938  0.437393
2   0.405278  3.282608e+07   0.775078  7.020081e+07  0.532398  0.477113
3   0.422529  3.666106e+07   0.696466  5.951821e+07  0.384036  0.393324
4   0.315235  4.776609e+07   0.468029  1.114675e+08  0.571480  0.326463
5   0.345960  1.950694e+07   0.668323  7.657090e+07  0.745243  0.482346
6   0.450924  3.174249e+07   0.692554  5.503357e+07  0.423216  0.348898
7   0.353485  3.294375e+07   0.768147  6.154686e+07  0.464737  0.539821
8   0.303738  3.194189e+07   0.574921  1.156490e+08  0.723803  0.471687
9   0.331718  6.156154e+07   0.522929  1.265663e+08  0.513602  0.365653
10  0.712497  4.234233e+07   1.133115  7.024997e+07  0.397262  0.371205
11  0.430532  1.311851e+08   0.825728  2.640366e+08  0.503156  0.478603
12  0.268812  2.487284e+07   0.532754  4.354248e+07  0.428768  0.495429
13  0.340204  2.895833e+07   0.548920  4.033633e+07  0.282078  0.380231
14  0.435715  7.467869e+07   0.721942  2.338657e+08  0.680677  0.396468
15  0.387445  3.134255e+07   0.665024  9.891564e+07  0.683139  0.417396
16  0.303755  2.557168e+07   0.746739  1.389633e+08  0.815983  0.593225
17  0.461610  4.478321e+07   0.705646  1.285600e+08  0.651655  0.345833
18  0.390180  2.223633e+07   0.784036  5.634510e+07  0.605355  0.502345
19  0.449544  3.954696e+07   0.795041  5.858046e+07  0.324912  0.434565
20  0.497237  3.296752e+07   0.937712  9.314852e+07  0.646076  0.469734
21  0.313959  1.845629e+07   0.613786  1.006591e+08  0.816646  0.488487
22  0.288189  7.528108e+07   0.566064  1.176164e+08  0.359944  0.490890
23  0.379532  3.767759e+07   0.647498  4.977010e+07  0.242967  0.413848
24  0.409697  3.420484e+07   0.751489  1.105176e+08  0.690503  0.454820
25  0.475206  6.386025e+07   0.878724  1.595087e+08  0.599644  0.459209
26  0.327624  2.437317e+07   0.728439  9.827680e+07  0.751995  0.550238
27  0.461694  1.390445e+08   0.723243  3.179066e+08  0.562625  0.361634
28  0.511498  8.856441e+07   0.570806  1.298127e+08  0.317752  0.103902
29  0.407277  2.043568e+07   0.963531  1.496961e+08  0.863486  0.577308
..       ...           ...        ...           ...       ...       ...
70  0.497917  6.187357e+07   0.701243  1.196981e+08  0.483086  0.289951
71  0.418520  4.433208e+07   0.733775  8.175521e+07  0.457746  0.429634
72  0.254903  3.267559e+07   0.456009  1.344606e+08  0.756988  0.441015
73  0.333184  4.525044e+07   0.772936  1.925564e+08  0.765002  0.568937
74  0.413218  4.007760e+07   0.960034  1.134137e+08  0.646625  0.569580
75  0.385108  3.302959e+07   0.714684  7.614973e+07  0.566255  0.461149
76  0.252457  2.710460e+07   0.353186  3.922598e+07  0.309014  0.285201
77  0.298837  2.103117e+07   0.486320  4.031018e+07  0.478266  0.385515
78  0.474183  3.754678e+07   0.843338  1.589361e+08  0.763762  0.437731
79  0.356859  4.859230e+07   0.751886  1.869870e+08  0.740130  0.525381
80  0.533987  6.138195e+07   0.740920  9.188254e+07  0.331952  0.279292
81  0.506923  1.060083e+08   0.689170  8.277238e+07 -0.280721  0.264443
82  0.320742  6.373387e+07   0.862604  2.198820e+08  0.710145  0.628170
83  0.515339  5.020731e+07   0.755439  1.028581e+08  0.511878  0.317828
84  0.400780  5.173354e+07   0.578406  8.200790e+07  0.369164  0.307095
85  0.413869  8.184494e+07   0.790367  1.779412e+08  0.540045  0.476359
86  0.372432  3.133923e+07   1.164795  1.651729e+08  0.810264  0.680259
87  0.423675  6.067883e+07   0.506461  5.813403e+07 -0.043775  0.163460
88  0.280578  4.806238e+07   0.541509  7.090222e+07  0.322132  0.481859
89  0.254273  2.937447e+07   0.571296  9.134431e+07  0.678420  0.554918
90  0.446064  2.564397e+07   1.060062  6.177918e+07  0.584909  0.579209
91  0.526848  2.648454e+07   1.064410  8.258889e+07  0.679321  0.505032
92  0.390593  4.776469e+07   0.724511  1.035285e+08  0.538633  0.460887
93  0.323092  3.263612e+07   0.602685  4.920126e+07  0.336681  0.463912
94  0.314536  3.674335e+07   0.747487  1.089910e+08  0.662877  0.579209
95  0.577959  8.194246e+07   1.064864  9.724816e+07  0.157388  0.457246
96  0.276287  4.130101e+07   0.519798  9.376083e+07  0.559507  0.468472
97  0.312001  5.089249e+07   0.499018  1.175128e+08  0.566919  0.374769
98  0.430908  4.992139e+07   0.706395  2.272408e+08  0.780315  0.389990
99  0.299992  5.254756e+07   0.499635  1.291229e+08  0.593042  0.399579

[100 rows x 6 columns]
MAPE         3.840000e-01
MSE          4.895666e+07
Mean-MAPE    7.050000e-01
Mean-MSE     1.190397e+08
R2           5.410000e-01
MAPE-R2      4.390000e-01
dtype: float64
                            OLS Regression Results
==============================================================================
Dep. Variable:           TotalViewers   R-squared:                       0.602
Model:                            OLS   Adj. R-squared:                  0.597
Method:                 Least Squares   F-statistic:                     103.0
Date:                Fri, 06 Jul 2018   Prob (F-statistic):               0.00
Time:                        17:36:47   Log-Likelihood:                -20509.
No. Observations:                2000   AIC:                         4.108e+04
Df Residuals:                    1970   BIC:                         4.125e+04
Df Model:                          29
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         1.5e+04    136.871    109.590      0.000    1.47e+04    1.53e+04
T-ATL      -3223.4517    587.649     -5.485      0.000   -4375.930   -2070.973
T-BKN      -3246.3610    611.173     -5.312      0.000   -4444.975   -2047.747
T-BOS       7421.5289    613.514     12.097      0.000    6218.325    8624.733
T-CHA      -2977.1197    615.610     -4.836      0.000   -4184.436   -1769.804
T-CHI       -353.7862    613.001     -0.577      0.564   -1555.985     848.413
T-CLE       1.971e+04    611.961     32.208      0.000    1.85e+04    2.09e+04
T-DAL      -3800.1377    610.536     -6.224      0.000   -4997.502   -2602.774
T-DEN      -3395.6936    604.625     -5.616      0.000   -4581.464   -2209.923
T-DET      -3242.1024    604.933     -5.359      0.000   -4428.479   -2055.726
T-GSW        1.93e+04    595.966     32.383      0.000    1.81e+04    2.05e+04
T-HOU       4248.7656    598.157      7.103      0.000    3075.678    5421.853
T-IND      -2279.7311    592.172     -3.850      0.000   -3441.080   -1118.383
T-LAC        -46.5707    592.060     -0.079      0.937   -1207.701    1114.559
T-LAL       5334.1034    606.505      8.795      0.000    4144.645    6523.562
T-MEM      -4600.4076    609.066     -7.553      0.000   -5794.888   -3405.927
T-MIA      -1655.0718    596.002     -2.777      0.006   -2823.933    -486.211
T-MIL       -575.3759    635.485     -0.905      0.365   -1821.669     670.917
T-MIN        749.8581    594.123      1.262      0.207    -415.317    1915.033
T-NOP      -1279.6064    594.050     -2.154      0.031   -2444.640    -114.573
T-NYK       2265.1151    589.895      3.840      0.000    1108.231    3422.000
T-OKC       1.015e+04    598.087     16.963      0.000    8972.551    1.13e+04
T-ORL      -4007.0859    591.802     -6.771      0.000   -5167.709   -2846.462
T-PHI       3529.8747    620.456      5.689      0.000    2313.057    4746.693
T-PHX      -4322.0686    594.027     -7.276      0.000   -5487.056   -3157.082
T-POR       -797.5799    600.140     -1.329      0.184   -1974.556     379.396
T-SAC      -4129.3372    604.917     -6.826      0.000   -5315.682   -2942.992
T-SAS       3992.2683    595.731      6.701      0.000    2823.939    5160.597
T-TOR        677.1108    590.351      1.147      0.252    -480.667    1834.888
T-UTA      -3033.7276    591.797     -5.126      0.000   -4194.342   -1873.113
T-WAS       -408.9584    596.118     -0.686      0.493   -1578.047     760.130
Weeknight           0          0        nan        nan           0           0
==============================================================================
Omnibus:                      644.170   Durbin-Watson:                   1.458
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3679.299
Skew:                           1.397   Prob(JB):                         0.00
Kurtosis:                       9.029   Cond. No.                     1.07e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is  2e-29. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

/home/sahluwalia/anaconda3/lib/python3.5/site-packages/statsmodels/base/model.py:1100: RuntimeWarning: invalid value encountered in true_divide
  return self.params / self.bse
/home/sahluwalia/anaconda3/lib/python3.5/site-packages/scipy/stats/_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
/home/sahluwalia/anaconda3/lib/python3.5/site-packages/scipy/stats/_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
/home/sahluwalia/anaconda3/lib/python3.5/site-packages/scipy/stats/_distn_infrastructure.py:1821: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= self.a)

In [37]:
results_df.head()

       MAPE          MSE  Mean-MAPE      Mean-MSE        R2   MAPE-R2
0  0.485971  53829767.35   0.637226  4.171100e+07 -0.290541  0.237364
1  0.525961  33196938.90   0.934864  7.978836e+07  0.583938  0.437393
2  0.405278  32826075.55   0.775078  7.020081e+07  0.532398  0.477113
3  0.422529  36661056.85   0.696466  5.951821e+07  0.384036  0.393324
4  0.315235  47766086.05   0.468029  1.114675e+08  0.571480  0.326463

In [3]:
# incorporating both game and team-specific features

games_df = pd.read_csv('game_data.csv')

In [4]:
games_df.head()

,Season,Game_ID,Game_Date,Team,Location,Wins_Entering_Gm,Losses_Entering_Gm,Team_Minutes,Final_Score,Lead_Changes,Ties,Largest_Lead,Full_Timeouts,Short_Timeouts,Qtr_4_Score,L2M_Score
0,2016-17,21600001,10/25/2016,CLE,H,0,0,240.0,117.0,1.0,3.0,32.0,4.0,1.0,82.0,113.0
1,2016-17,21600001,10/25/2016,NYK,A,0,0,240.0,88.0,0.0,1.0,4.0,4.0,2.0,64.0,84.0
2,2016-17,21600002,10/25/2016,POR,H,0,0,240.0,113.0,6.0,6.0,13.0,5.0,0.0,77.0,104.0
3,2016-17,21600002,10/25/2016,UTA,A,0,0,240.0,104.0,5.0,1.0,8.0,5.0,2.0,83.0,102.0
4,2016-17,21600003,10/25/2016,GSW,H,0,0,240.0,100.0,1.0,2.0,4.0,3.0,1.0,77.0,100.0

In [7]:
combined = original_df.merge(games_df.drop('Short_Timeouts', axis=1), on=['Game_ID', 'Season', 'Game_Date'])
print(combined.isnull().sum())
combined.head(10)

Season                0
Game_ID               0
Game_Date             0
Away_Team             0
Home_Team             0
Country               0
Rounded Viewers       0
Team                  0
Location              0
Wins_Entering_Gm      0
Losses_Entering_Gm    0
Team_Minutes          0
Final_Score           0
Lead_Changes          0
Ties                  0
Largest_Lead          0
Full_Timeouts         0
Qtr_4_Score           0
L2M_Score             0
dtype: int64

,Season,Game_ID,Game_Date,Away_Team,Home_Team,Country,Rounded Viewers,Team,Location,Wins_Entering_Gm,Losses_Entering_Gm,Team_Minutes,Final_Score,Lead_Changes,Ties,Largest_Lead,Full_Timeouts,Qtr_4_Score,L2M_Score
0,2016-17,21600001,10/25/2016,NYK,CLE,C113,18,CLE,H,0,0,240.0,117.0,1.0,3.0,32.0,4.0,82.0,113.0
1,2016-17,21600001,10/25/2016,NYK,CLE,C113,18,NYK,A,0,0,240.0,88.0,0.0,1.0,4.0,4.0,64.0,84.0
2,2016-17,21600001,10/25/2016,NYK,CLE,C193,1,CLE,H,0,0,240.0,117.0,1.0,3.0,32.0,4.0,82.0,113.0
3,2016-17,21600001,10/25/2016,NYK,CLE,C193,1,NYK,A,0,0,240.0,88.0,0.0,1.0,4.0,4.0,64.0,84.0
4,2016-17,21600001,10/25/2016,NYK,CLE,C126,4,CLE,H,0,0,240.0,117.0,1.0,3.0,32.0,4.0,82.0,113.0
5,2016-17,21600001,10/25/2016,NYK,CLE,C126,4,NYK,A,0,0,240.0,88.0,0.0,1.0,4.0,4.0,64.0,84.0
6,2016-17,21600001,10/25/2016,NYK,CLE,C163,11,CLE,H,0,0,240.0,117.0,1.0,3.0,32.0,4.0,82.0,113.0
7,2016-17,21600001,10/25/2016,NYK,CLE,C163,11,NYK,A,0,0,240.0,88.0,0.0,1.0,4.0,4.0,64.0,84.0
8,2016-17,21600001,10/25/2016,NYK,CLE,C73,3,CLE,H,0,0,240.0,117.0,1.0,3.0,32.0,4.0,82.0,113.0
9,2016-17,21600001,10/25/2016,NYK,CLE,C73,3,NYK,A,0,0,240.0,88.0,0.0,1.0,4.0,4.0,64.0,84.0

In [8]:
combined.shape

(561250, 19)

In [9]:
original_df.shape

(280625, 7)

In [10]:
games_df.shape

(4920, 16)

In [11]:
all_countries = ["C-%s" % e for e in original_df["Country"].unique().tolist()]
df_index = list(combined.columns) + all_countries
new_df = pd.DataFrame(index = df_index)

In [12]:
list(combined.columns)

['Season',
 'Game_ID',
 'Game_Date',
 'Away_Team',
 'Home_Team',
 'Country',
 'Rounded Viewers',
 'Team',
 'Location',
 'Wins_Entering_Gm',
 'Losses_Entering_Gm',
 'Team_Minutes',
 'Final_Score',
 'Lead_Changes',
 'Ties',
 'Largest_Lead',
 'Full_Timeouts',
 'Qtr_4_Score',
 'L2M_Score']

In [14]:
for game_id in combined["Game_ID"].unique():
    # Define the new series using the same index as the dataframe it will be concatenated to
    game_series = pd.Series(index=df_index)
    # Isolate the rows relevant for the current game
    game_rows = combined.loc[combined["Game_ID"] == game_id, :]

    # Since much of the data is repeated, get important information from the first row of the game
    game_series.loc[["Season", "Home_Team", "Away_Team", "Game_Date", 'Final_Score',
         'Lead_Changes',
         'Ties',
         'Largest_Lead',
         'Full_Timeouts',
         'Qtr_4_Score',
         'L2M_Score'
    ]] = game_rows.iloc[0, :].loc[["Season", "Home_Team", "Away_Team", "Game_Date", 'Final_Score',
         'Lead_Changes',
         'Ties',
         'Largest_Lead',
         'Full_Timeouts',
         'Qtr_4_Score',
         'L2M_Score'
    ]]

    # Add each country's viewership to the new series in the appropriate index location
    # NOTE: There is probably a more efficient way to do this
    for i,row in game_rows.iterrows():
        game_series.loc["C-%s" % row["Country"]] = row["Rounded Viewers"]

    # Add the game's data as a new column in the full df
    new_df[game_id] = game_series

# Currently the columns are game_ids and the rows are the information/data,
#   swap these to be more compatible with supervised learning methods using transpose
new_df = new_df.T

# Add the total viewers by summing over the country columns
country_cols = [e for e in new_df.columns if "C-" in e]
new_df["TotalViewers"] = new_df.loc[:, country_cols].sum(axis=1)

In [16]:
new_df = new_df.fillna(0)

In [24]:
# Converting teams to integer encoding
team_encoder = LabelEncoder()
team_encoder.fit(np.ravel([new_df["Home_Team"], new_df["Away_Team"]]))
new_df["Home_Team_Code"] = team_encoder.transform(new_df["Home_Team"])
new_df["Away_Team_Code"] = team_encoder.transform(new_df["Away_Team"])

vector_encoder = OneHotEncoder(sparse=False)
away_vectors = vector_encoder.fit_transform(new_df["Away_Team_Code"].values.reshape(-1, 1))
home_vectors = vector_encoder.fit_transform(new_df["Home_Team_Code"].values.reshape(-1, 1))
comb_vector = away_vectors + home_vectors
comb_df = pd.DataFrame(data=comb_vector, index=new_df.index, columns=["T-%s" % e for e in team_encoder.classes_])

merged_df = pd.concat([new_df, comb_df], axis=1)

In [25]:
# Adding day of week and indicator if that day is a weeknight (or not)
merged_df["DayOfWeek"] = pd.to_datetime(merged_df["Game_Date"]).dt.weekday_name
merged_df["Weeknight"] = merged_df["DayOfWeek"].apply(lambda cell: 1 if cell in
                ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday"] else 0)

In [29]:
# Outputting the revised data frame in a 'per game' format
merged_df.to_csv("training_set_games_complete.csv", index=True, index_label="Game_ID")

In [30]:
import pandas as pd
import numpy as np
import statsmodels.api as smi
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import KFold

# Read in file created from 'single_game_reformatting.py' script
input_filename = "training_set_games_complete.csv"
df = pd.read_csv(input_filename)

In [36]:
list(df.columns)

['Game_ID',
 'Season',
 'Game_ID.1',
 'Game_Date',
 'Away_Team',
 'Home_Team',
 'Country',
 'Rounded Viewers',
 'Team',
 'Location',
 'Wins_Entering_Gm',
 'Losses_Entering_Gm',
 'Team_Minutes',
 'Final_Score',
 'Lead_Changes',
 'Ties',
 'Largest_Lead',
 'Full_Timeouts',
 'Qtr_4_Score',
 'L2M_Score',
 'C-C113',
 'C-C193',
 'C-C126',
 'C-C163',
 'C-C73',
 'C-C128',
 'C-C208',
 'C-C67',
 'C-C177',
 'C-C171',
 'C-C176',
 'C-C124',
 'C-C189',
 'C-C224',
 'C-C51',
 'C-C42',
 'C-C212',
 'C-C201',
 'C-C199',
 'C-C166',
 'C-C46',
 'C-C89',
 'C-C139',
 'C-C14',
 'C-C172',
 'C-C183',
 'C-C99',
 'C-C91',
 'C-C59',
 'C-C125',
 'C-C169',
 'C-C195',
 'C-C38',
 'C-C116',
 'C-C62',
 'C-C101',
 'C-C55',
 'C-C190',
 'C-C145',
 'C-C50',
 'C-C35',
 'C-C71',
 'C-C182',
 'C-C44',
 'C-C122',
 'C-C31',
 'C-C222',
 'C-C94',
 'C-C213',
 'C-C184',
 'C-C109',
 'C-C223',
 'C-C7',
 'C-C65',
 'C-C78',
 'C-C174',
 'C-C13',
 'C-C15',
 'C-C3',
 'C-C123',
 'C-C108',
 'C-C12',
 'C-C37',
 'C-C179',
 'C-C135',
 'C-C21',
 'C-C100',
 'C-C178',
 'C-C136',
 'C-C66',
 'C-C155',
 'C-C56',
 'C-C85',
 'C-C134',
 'C-C211',
 'C-C90',
 'C-C130',
 'C-C219',
 'C-C41',
 'C-C154',
 'C-C2',
 'C-C143',
 'C-C64',
 'C-C76',
 'C-C40',
 'C-C70',
 'C-C75',
 'C-C105',
 'C-C92',
 'C-C149',
 'C-C218',
 'C-C156',
 'C-C23',
 'C-C141',
 'C-C103',
 'C-C165',
 'C-C180',
 'C-C80',
 'C-C104',
 'C-C198',
 'C-C53',
 'C-C115',
 'C-C26',
 'C-C60',
 'C-C140',
 'C-C191',
 'C-C45',
 'C-C161',
 'C-C146',
 'C-C6',
 'C-C203',
 'C-C54',
 'C-C22',
 'C-C57',
 'C-C186',
 'C-C215',
 'C-C144',
 'C-C95',
 'C-C9',
 'C-C133',
 'C-C18',
 'C-C160',
 'C-C72',
 'C-C132',
 'C-C120',
 'C-C97',
 'C-C5',
 'C-C107',
 'C-C83',
 'C-C47',
 'C-C117',
 'C-C10',
 'C-C36',
 'C-C158',
 'C-C98',
 'C-C8',
 'C-C225',
 'C-C200',
 'C-C27',
 'C-C110',
 'C-C96',
 'C-C29',
 'C-C17',
 'C-C77',
 'C-C20',
 'C-C131',
 'C-C147',
 'C-C84',
 'C-C150',
 'C-C209',
 'C-C68',
 'C-C162',
 'C-C185',
 'C-C210',
 'C-C138',
 'C-C119',
 'C-C86',
 'C-C33',
 'C-C49',
 'C-C30',
 'C-C69',
 'C-C153',
 'C-C157',
 'C-C207',
 'C-C61',
 'C-C102',
 'C-C152',
 'C-C79',
 'C-C114',
 'C-C106',
 'C-C181',
 'C-C202',
 'C-C32',
 'C-C168',
 'C-C137',
 'C-C34',
 'C-C4',
 'C-C74',
 'C-C88',
 'C-C81',
 'C-C25',
 'C-C127',
 'C-C192',
 'C-C16',
 'C-C217',
 'C-C52',
 'C-C221',
 'C-C142',
 'C-C206',
 'C-C205',
 'C-C118',
 'C-C24',
 'C-C173',
 'C-C188',
 'C-C93',
 'C-C214',
 'C-C19',
 'C-C111',
 'C-C197',
 'C-C87',
 'C-C159',
 'C-C226',
 'C-C175',
 'C-C28',
 'C-C187',
 'C-C216',
 'C-C194',
 'C-C63',
 'C-C129',
 'C-C228',
 'C-C48',
 'C-C151',
 'C-C164',
 'C-C112',
 'C-C43',
 'C-C170',
 'C-C167',
 'C-C148',
 'C-C82',
 'C-C227',
 'C-C121',
 'C-C39',
 'C-C196',
 'C-C220',
 'C-C11',
 'C-C204',
 'C-C58',
 'C-C1',
 'TotalViewers',
 'Home_Team_Code',
 'Away_Team_Code',
 'T-ATL',
 'T-BKN',
 'T-BOS',
 'T-CHA',
 'T-CHI',
 'T-CLE',
 'T-DAL',
 'T-DEN',
 'T-DET',
 'T-GSW',
 'T-HOU',
 'T-IND',
 'T-LAC',
 'T-LAL',
 'T-MEM',
 'T-MIA',
 'T-MIL',
 'T-MIN',
 'T-NOP',
 'T-NYK',
 'T-OKC',
 'T-ORL',
 'T-PHI',
 'T-PHX',
 'T-POR',
 'T-SAC',
 'T-SAS',
 'T-TOR',
 'T-UTA',
 'T-WAS',
 'DayOfWeek',
 'Weeknight']

In [39]:
# Get the columns to be used as inputs (Team indicator columns)
team_cols = [e for e in df.columns if "T-" in e]
input_cols = team_cols + [
                 'Team_Minutes',
                 'Final_Score',
                 'Lead_Changes',
                 'Ties',
                 'Full_Timeouts',
                 'Qtr_4_Score', 
                  'L2M_Score', 
                  'Weeknight'
                ]

# Get data in supervised learning format f:X -> y
X = df.loc[:, input_cols]
y = df.loc[:, "TotalViewers"]

# Initialize dictionary for tracking accuracy measures, where Mean- is using the training set mean for predictions
accuracy_dict = {"MSE":[],
                 "Mean-MSE":[],
                 "MAPE":[],
                 "Mean-MAPE":[]}

In [40]:
# Perform 10-Fold Cross-Validation
kfold = KFold(n_splits=10, shuffle=True)
for train_indices, test_indices in kfold.split(X):
    # Get the training data and fit a LinearRegression to the training data
    X_train, y_train = X.loc[train_indices, :], y.loc[train_indices]
    fold_model = LinearRegression()
    fold_model.fit(X=X_train, y=y_train)

    # Make predictions on the test data from the trained model
    X_test, y_test = X.loc[test_indices, :], y.loc[test_indices]
    predictions = fold_model.predict(X=X_test)

    # Calculate the Mean Square Error of the current test fold predictions
    error = predictions - y_test
    mean_error = y_train.mean() - y_test

    fold_mse = np.mean(error**2)
    accuracy_dict["MSE"].append(fold_mse)

    # Calculate the Sum of Squared Error of the current test fold predictions
    fold_sse = np.mean(mean_error**2)
    accuracy_dict["Mean-MSE"].append(fold_sse)

    # Calculate the Mean Absolute Percentage Error (MAPE) used by NBA to grade submissions
    fold_mape = np.mean(np.abs(error)/y_test)
    accuracy_dict["MAPE"].append(fold_mape)

    fold_mean_mape = np.mean(np.abs(mean_error)/y_test)
    accuracy_dict["Mean-MAPE"].append(fold_mean_mape)
# Converting the accuracy dictionary to a DataFrame
#   with columns as the accuracy measures and index as the fold number
results_df = pd.DataFrame.from_dict(accuracy_dict, orient='columns')
results_df["R2"] = results_df.apply(lambda row: 1.0 - row["MSE"]/row["Mean-MSE"], axis=1)
results_df["MAPE-R2"] = results_df.apply(lambda row: 1.0 - row["MAPE"]/row["Mean-MAPE"], axis=1)
print(results_df)
print(results_df.mean(axis=0).round(3))

       MAPE           MSE  Mean-MAPE      Mean-MSE        R2   MAPE-R2
0  0.368074  3.724508e+07   0.641757  1.196008e+08  0.688588  0.426458
1  0.370433  5.814025e+07   0.721901  1.826332e+08  0.681656  0.486865
2  0.709384  1.485735e+08   0.569234  9.601719e+07 -0.547364 -0.246208
3  0.375186  4.979865e+07   0.622621  1.133968e+08  0.560846  0.397409
4  0.393123  4.807175e+07   0.799929  1.184461e+08  0.594147  0.508552
5  0.333912  4.773671e+07   0.768047  1.242597e+08  0.615831  0.565245
6  0.334505  5.432174e+07   0.675664  1.346216e+08  0.596486  0.504925
7  0.361056  4.419589e+07   0.773284  1.041794e+08  0.575771  0.533088
8  0.382072  4.019002e+07   0.766745  1.005354e+08  0.600240  0.501696
9  0.371152  3.908455e+07   0.712189  9.716804e+07  0.597763  0.478857
MAPE         4.000000e-01
MSE          5.673582e+07
Mean-MAPE    7.050000e-01
Mean-MSE     1.190858e+08
R2           4.960000e-01
MAPE-R2      4.160000e-01
dtype: float64

In [41]:
# Using Statsmodels for output on full set to see if the coefficients make sense
# (they appear to, as CLE and GSW are highest, MEM and PHX are lowest)
#    Having weeknight games, particularly on Tuesday also appears to drop the amount of viewers
# The explanatory R-Squared is 0.635 with Adj R-Squared of 0.628,
#   the closeness of these to the CV-R2 indicates there is not much overfitting occurring here

Xc = smi.add_constant(X)
ols = smi.OLS(endog=y, exog=Xc)
results = ols.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           TotalViewers   R-squared:                       0.635
Model:                            OLS   Adj. R-squared:                  0.628
Method:                 Least Squares   F-statistic:                     94.88
Date:                Fri, 06 Jul 2018   Prob (F-statistic):               0.00
Time:                        21:51:41   Log-Likelihood:                -20424.
No. Observations:                2000   AIC:                         4.092e+04
Df Residuals:                    1963   BIC:                         4.113e+04
Df Model:                          36
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const          7952.6682   1471.059      5.406      0.000    5067.667    1.08e+04
T-ATL         -3786.0985    568.508     -6.660      0.000   -4901.041   -2671.156
T-BKN         -3935.6993    604.232     -6.514      0.000   -5120.704   -2750.695
T-BOS          7573.8484    598.517     12.654      0.000    6400.053    8747.644
T-CHA         -3503.1117    599.604     -5.842      0.000   -4679.039   -2327.185
T-CHI          -810.7826    591.709     -1.370      0.171   -1971.226     349.661
T-CLE          1.903e+04    610.426     31.174      0.000    1.78e+04    2.02e+04
T-DAL         -4816.2367    597.912     -8.055      0.000   -5988.845   -3643.628
T-DEN         -4464.6924    612.125     -7.294      0.000   -5665.176   -3264.209
T-DET         -3601.3342    585.454     -6.151      0.000   -4749.511   -2453.158
T-GSW          1.902e+04    602.299     31.586      0.000    1.78e+04    2.02e+04
T-HOU          4631.1622    601.696      7.697      0.000    3451.132    5811.192
T-IND         -2603.4175    574.836     -4.529      0.000   -3730.771   -1476.064
T-LAC           -72.8077    583.029     -0.125      0.901   -1216.229    1070.614
T-LAL          4820.0632    596.554      8.080      0.000    3650.118    5990.008
T-MEM         -4883.8167    586.203     -8.331      0.000   -6033.462   -3734.172
T-MIA         -2498.9092    578.748     -4.318      0.000   -3633.934   -1363.884
T-MIL          -878.1913    616.970     -1.423      0.155   -2088.176     331.793
T-MIN          -162.2085    584.129     -0.278      0.781   -1307.787     983.370
T-NOP         -1893.4598    583.300     -3.246      0.001   -3037.412    -749.507
T-NYK          2007.4437    573.925      3.498      0.000     881.877    3133.011
T-OKC          9610.5290    584.635     16.439      0.000    8463.958    1.08e+04
T-ORL         -4270.8093    576.654     -7.406      0.000   -5401.729   -3139.890
T-PHI          2804.3572    611.452      4.586      0.000    1605.194    4003.521
T-PHX         -4459.2473    588.775     -7.574      0.000   -5613.936   -3304.558
T-POR         -1443.3262    584.864     -2.468      0.014   -2590.345    -296.307
T-SAC         -4346.8291    583.675     -7.447      0.000   -5491.517   -3202.142
T-SAS          3570.0103    574.254      6.217      0.000    2443.799    4696.222
T-TOR          -108.1993    574.502     -0.188      0.851   -1234.898    1018.499
T-UTA         -3408.1149    570.276     -5.976      0.000   -4526.524   -2289.705
T-WAS         -1218.1693    584.571     -2.084      0.037   -2364.614     -71.725
Team_Minutes  -1.577e-12   3.13e-13     -5.041      0.000   -2.19e-12   -9.64e-13
Final_Score     117.9881     39.751      2.968      0.003      40.030     195.947
Lead_Changes    179.2878     67.869      2.642      0.008      46.185     312.391
Ties            223.0042     78.343      2.847      0.004      69.361     376.647
Full_Timeouts  1139.5732    143.024      7.968      0.000     859.079    1420.067
Qtr_4_Score     -29.8894     33.332     -0.897      0.370     -95.259      35.480
L2M_Score       -86.2836     49.588     -1.740      0.082    -183.534      10.967
Weeknight      -663.5110    319.060     -2.080      0.038   -1289.242     -37.780
==============================================================================
Omnibus:                      705.004   Durbin-Watson:                   1.384
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             4621.956
Skew:                           1.501   Prob(JB):                         0.00
Kurtosis:                       9.815   Cond. No.                     6.23e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.44e-26. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.